<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome! to Jovial Divine Scholars - Representing the new era !</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&family=Space+Grotesk:wght@500;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
       
    <style>
        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style: none;
            font-family: 'Oswald', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-family: 'Space Grotesk', sans-serif;
        }
       
        .topbar {
            height: 6vh;
            background: #2b0b0b;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar {
          background: white;
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            height: min-content;
            border-bottom: 1px solid rgba(128, 128, 128, 0.493);
            position: relative;
            z-index: 3;
        }

        .nav-links {
            /* margin: 23px; */
            padding: 16px;
            display: flex;
            text-align: center;
            gap: 23px;
            margin-right: 43px;

            
        }
        .nav-links li a{
            padding: 5px;
            border-radius: 10px;
        }
       .nav-links li a:hover{
            padding: 5px;
            border-radius: 10px;
            background: #2b0b0b;
            color: white;
            transition: 0.2s all ease-in-out;
       }
        a {
            color: black;

        }

        .logo {
            display: flex;
            /* margin-left: 55px; */
            font-size: 23px;
            font-weight: bolder;
            margin-left: 43px;
        }

        .logoimg {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin-top: 2px;
        }

        .l-top {
            margin-top: 12px;
            margin-left: 12px;
        }

        .action {
            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
        }

       





 .ctrl-ge{
    box-sizing: content-box;
    height: 80%;
 }
        
       
     
      
     .locate{
        position: relative;
        left: 7%;
        /* top: 25%; */
        display: flex;
        gap: 10px;
     }
  
     .lct{
        color: rgb(218, 218, 218);
     }

     .info{
        /* gap: 10px; */
        margin-right: 25px;
     }
     .info-custom{
        color: white;
        margin: 14px;
        text-align: center;
        border: 2px solid white;
        border-radius: 8px;
        padding: 3px 10px;
     }
     .info-custom2{
        color: white;
        margin: 14px;
        text-align: center;
        border-radius: 8px;
        padding: 3px 10px;
     }
     .info-custom:hover{
        opacity: 80%;
     }
     .centerr{
      display: flex;
      justify-content: center;
      /* text-align: center; */
      /* margin: 30px auto; */
      /* margin-bottom: 30px; */
     }
     .main-c{
      height: 60vh;
      width: 100%;
      background: rgba(128, 128, 128, 0.562);
     }

     .c-img-slide{
      height: 78vh;
     }
     .slide-image{
      background-image: url("/images/newjds hai.png");
      background-size: cover;
      height: 78vh;
      background-position: top;
      border-bottom: 2px solid black;


     }
     .slide-image:hover{
      transform: translate(2);
      shape-outside: margin-box;
     }
     .first-text{
      /* display: inline-block; */
      position: relative;
      top: 55%;
      color: rgb(255, 255, 255);
      /* display: flex; */
      align-self: center;
      font-size: 35px;
      font-weight: bolder;
         }
         .second-text{
          position: relative;
      top: 55%;
      font-size: 20px;
      color: rgb(255, 255, 255);
         }
         .m-left{
          margin-left: 23px;
         }
         .admit-now{
          color: #ffffff;
          border: 2px solid #ffffff;
          position: relative;
          top: 57%;
         }
         .content-section{
          height: min-content;
          /* border: 1px solid grey; */
          margin: 10px auto;
          width: 80%;

         }
         .why-jds{
          margin: 20px;
          font-size: 55px;
          text-decoration: underline;
         }
         .why{
          display: flex;
          height: min-content;
         }
         .img-card{
          margin: 20px;

         }
         .why-head{
          font-size: 25px;
          font-weight: bold;
          margin: 30px 30px 30px 0px;
         }
         .content-img{
          border-bottom-right-radius: 20%;
          border: 1px solid rgba(128, 128, 128, 0.507);
         }
         
         .slide-1{
          height: min-content;
          width: 20%;
          padding: 20px;
          border: 1px solid rgba(128, 128, 128, 0.493);
          border-top-right-radius: 6%;
          border-end-end-radius: 8%;
         }
         .slides-m{
          display: flex;
          flex-direction: row;
          gap: 2%;
          margin-bottom: 20px;
         }

         /* Footer CSS */
        
         footer{
    /* margin-top: 23px; */
    height: min-content;
    background: #2b0b0b
}
.container2{
    position: relative;
    z-index: 40;
    
}
.container-content{
    padding-top: 10px;
    display: flex;
}
.left-side{
    display: flex;
    flex-direction: row;
    padding: 0px 4px;
    width: 100%;
    justify-content: center;
}
.left-side-items{
    cursor: pointer;
    list-style-type: circle black;
    margin: 6px ;
    color: whitesmoke;

}



.footer-text{
    color: whitesmoke;
    text-align: center;
}
.footer-add{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 10px;
}
.left-side-items .mid-side-items .right-side-items:hover{
    color: #140F2D;
}
.info-custom2{
        color: white;
        margin: 14px;
        text-align: center;
        border-radius: 8px;
        padding: 3px 10px;
     }

 

.one, .three {
  margin: 30px auto !important;
}

.scroll {
  overflow-y: auto;
}


.container {
  max-width: 1400px;
  margin: auto;
}
  &.two .card::after {
    content: '';
    width: 80px;
    height: 80px;
    background: #fff9d8;
    position: absolute;
    top: -30px;
    border-radius: 35%;
    left: -20px;
  }
   
  .grid-cards {
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 1024px;
    margin: 1rem auto;
    
    @media (max-width: 922px) and (min-width: 601px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      flex-direction: column;
    }
    
    .card {
      position: relative;
      flex: 1;
      background: #fff;
      padding: 1rem 1rem 1.5rem;
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
      border-radius: 1rem;
      min-height: 170px;
      margin: 15px;
      transition: all ease 0.3s;
      overflow: hidden;
      animation: fadeInLeft 1.5s backwards;
      
      &:nth-child(2){
        animation-delay: 0.15s;
      }
      &:nth-child(3){
        animation-delay: 0.2s;
      }
      &:nth-child(4){
        animation-delay: 0.3s;
      }
      
      &:hover {
       transform: translateY(-6px);
       -webkit-transform: translateY(-6px);
      }
      
      img {
        
        
        width: 100%;
        border-radius: 12px;
        margin-bottom: 15px;
        position: relative;
        max-height: 320px;
        object-fit: cover;
        box-shadow: 0 6px 16px -7px #aaa;
      }
      
      .card-body {
        color: #676767;
        width: 100%;
        margin-bottom: 40px;
        padding: 0 0.8rem;
        position: relative;
        
        .icon {
          display: flex;
          width: 100%;
          text-align: left;
          padding: 15px 0;
          
          i {
            position: relative;
            font-size: 25px;
            transition: 0.5s;
            line-height: 0;
            top: -7px;
            left: -12px;
            z-index: 2;
            
            &::before {
              background: #FFD854;
              background-clip: border-box;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          
          h3 {
            margin: -9px 0 0 20px;
          }
        }
        
        .title-card {
          text-align: center;
          padding-bottom: 10px;
        }
        
        p {
          font-size: 14px;
          line-height: 22px;
          font-weight: 300;
        }
      }
      
      .card-footer {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        width: calc(100% - 1rem);
        
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #2b0b0b;
          color: #fff;
          text-shadow: 0px 1px 5px rgba(0,0,0,0.08);
          font-size: 1rem;
          font-weight: 700;
          text-decoration: none;
          width: 56%;
          height: 40px;
          border-top-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
          
          &:hover {
            filter: brightness(0.98);
          }
        }
      }
    }
  }


@keyframes fadeInLeft {
  0% {
    transform: translate(-100%,0);
  }

  100% {
      opacity: 1;
      transform: none;
  }
}


.sentence {
            color: #DAFDBA;
            font-size: 3em;
            position: relative;
        }


        .sentence::after {
            content: '';
            position: absolute;
            right: -20px;
            bottom: 6px;
            width: 14px;
            height: 2px;
            background-color: #DAFDBA;
            animation: blink 0.5s linear infinite;
            visibility: hidden;
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
        .heading-txt{
            font-size: 4em;
            font-weight: bolder;
            color: rgb(255, 255, 255);
            position: relative;
        }
        .content-header{
            position: relative;
            top: 35%;
            left: 2%;
            height: 20vh;
            width: 70%;
        }
        .btn-admit{
            border: 2px solid white;
            padding: 10px;
            position: relative;
            top: 19px;
            border-radius: 7px;
            background: #2b0b0b;
            color: white;
        }
        .btn-admit:hover{
          border: 1px solid white;
            padding: 10px;
            position: relative;
            top: 19px;
            border-radius: 7px;
            background: #2b0b0b;
            color: white;
            transition: all 0.7s ease-in-out;
        }
        .para-abt{
            width: 60%;
            color: white;
        }
        .centerr{
            margin-top: 23px;
            font-size: 33px;
            text-align: center;
            color: rgb(0, 0, 0);
        }
        .tent{
            position: relative;
            left: 30%;
        }
        .center{
            text-align: center;
            padding-top: 20px;


        }
        .header-img{
          background-image: url("/images/newjds hai.png");
          height: 80vh;
          background-size: cover;
        }


        /* Slider */

        .slidetext {
   z-index: 1; /*places slide text, i.e.<p> element, on top of everything else*/
   font-size: 50px;
   text-align: left;
   position: absolute; /*places text on top of image instead of next to it (relative)*/
   width: 40%;
   color: white;
}

.slider {
   overflow: hidden; /*prevents text overflowing boundaries*/
   height: 50vh;
   width: 100%;
   margin: auto; /*centres slide show*/
   margin-top: 20px;
   margin-bottom: 20px;
}

.slider figure div {
   width: 20%;
   float: left; /*puts images in a line*/  
}

.slider figure img {
   width: 100%; /* i.e. 100% of it's parent div (above) which is 20% of the containing div 'slider'*/
   float: left; /*need to do this for imgs & divs within figure*/
}

.slider figure {
   position: relative;
   width: 500%; 
   margin: 0;
   left: 0; /*to start images at the very left of the page*/
   animation: 40s slidy infinite; /*can call animation anything, I have used 'slidy'*/
}

/*now make the animation*/
@keyframes slidy {
   0% {
      left: 0%;
   }
   10% {
      left: 0%;
   }
   12% {
      left: -100%; /*from 10% to 12%, i.e. 2% of the total animation time, is the speed of the transition from one slide to the next. left:-100% means move the image left by 100% of it's total length which is 500%*/
   }
   22% {
      left: -100%; /*from 12% to 22%, i.e. 10% of the total animation time, is how long the slide stays on screen before moving to the next*/
   }
   24% {
      left: -200%;
   }
   34% {
      left: -200%;
   }
   36% {
      left: -300%;
   }
   46% {
      left: -300%;
   }
   48% {
      left: -400%;
   }
   58% {
      left: -400%;
   }
   60% {
      left: -300%;
   }
   70% {
      left: -300%;
   }
   72% {
      left: -200%;
   }
   82% {
      left: -200%;
   }
   84% {
      left: -100%;
   }
   94% {
      left: -100%;
   }
   96% {
      left: 0%;
   }
}

.content{
    margin: 1px 5%;
}

.fair-abt{
    display: flex;
}


.overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        .popup-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            text-align: center;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
            color: #555;
        }



        .hero-section {
    text-align: center;
    padding: 50px 0;
}

.hero-section h2 {
    color: #333;
}

.featured-highlights {
    text-align: center;
    padding: 50px 0;
}

.highlight {
    max-width: 300px;
    margin: 0 auto 30px;
}

.highlight img {
    max-width: 100%;
    border-radius: 5px;
}

.enrollment {
    text-align: center;
    padding: 50px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
    </style>
</head>

<body>
    <div class="topbar"><span class="locate" ><img class="locate-t" src="/images/placeholder.png" height="20px" width="20px" alt=""><p class="lct">At Baluchaha Road Padrauna , Kushinagar (274304)</p></span>
        <div class="info">
            <a href="#" class="info-custom2">Hey </a>
            <a href="/logout"class="info-custom" >Logout</a>
        </div>

    </div>
    <nav class="navbar">

        <ul class="logo"><img src="/images/images (1).jfif" alt="" height="65px" width="65px" class="logoimg">
            <li class="l-top">JDS INTERNATIONAL SCHOOL</li>
        </ul>
        <ul class="nav-links">
          <li><a href="/index">Home</a></li>
          <li><a href="/faculty">Faculty</a></li>
          <li><a href="/admission">Admission</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/about" class="action">About us</a></li>
        </ul>
    </nav>

 
    <div class="header-img">
      <div class="content-header">
        <div class="heading-txt">JOVIAL DIVINE SCHOLARS</div>
        <div class="sentence"></div>
        <div class="para-abt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, unde. Aliquid libero numquam laudantium atque obcaecati saepe officiis consectetur non error, impedit temporibus reprehenderit inventore totam laboriosam unde assumenda doloribus reiciendis vero, corrupti corporis, pariatur consequatur. Necessitatibus distinctio pariatur adipisci. Aliquam, tempora! Quam, molestias totam? Vel enim aspernatur voluptatibus numquam!</div>
        <a href="/admission" class="btn-admit">Admission</a>
    </div>
    </div>

  </div>




   


   <div class="content-section">
    <h2 class="why-jds centerr">Why JDS </h2>

    <div class="why">
      <div class="img-card"><img src="/images/images__1_-removebg-preview.png" alt="" class="lg-j"></div>
      <div class="why-text">
        <div class="why-head">JOVIAL DIVINE SCHOLARS</div>
        <div class="why-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, doloremque. Iusto aspernatur consectetur, sit cupiditate similique tempora possimus error veniam, earum quidem harum nobis, aliquam cum corporis quos vitae ad voluptates alias asperiores! Cumque, dignissimos. Error quos facere ea libero, perferendis debitis. Nulla ullam totam officiis doloribus omnis quaerat aspernatur quam temporibus tenetur eaque! Assumenda laudantium illo, quibusdam officiis quis quam aut, maiores, voluptate eius quos necessitatibus atque? Reprehenderit, eos exercitationem? Perferendis cum mollitia animi libero sed commodi, accusantium sint pariatur necessitatibus dolore eveniet suscipit porro? Quam aliquid at ipsum quos. Quaerat placeat laborum mollitia ea non hic doloremque cum.</div>
      </div>
    </div>





    <div class="scroll">
        <div class="container one">
          <h3 class="centerr" style="padding-left: 25px">3 columns with image</h3>
          <div class="grid-cards">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1507206130118-b5907f817163?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIzMzQzMjIz&ixlib=rb-1.2.1&q=80&w=600" alt="img-1" title="card image">
              <div class="card-body">
                <h3 class="title-card">
                  Lorem ipsum dolor sit amet
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in vulputate dui. Curabitur orci augue, finibus vel imperdiet eu, posuere ac eros.
                </p>
              </div>
              <div class="card-footer">
                <a href="#">Click here</a>
              </div>
            </div>
            <div class="card">
              <img src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIzMzQzNjkw&ixlib=rb-1.2.1&q=80&w=600" alt="img-2" title="card image">
              <div class="card-body">
                <h3 class="title-card">
                  Lorem ipsum dolor
                </h3>
                <p>Suspendisse et commodo velit. Suspendisse porttitor, nisi ac luctus suscipit, risus dolor facilisis ligula
                </p>
              </div>
              <div class="card-footer">
                <a href="#">Click here</a>
              </div>
            </div>
            <div class="card">
              <img src="https://images.unsplash.com/photo-1538688273852-e29027c0c176?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIzMzQzNjEx&ixlib=rb-1.2.1&q=80&w=600" alt="img-3" title="card image">
              <div class="card-body">
                <h3 class="title-card">
                  Lorem ipsum dolor
                </h3>
                <p>Cras maximus eros eleifend luctus interdum. Vestibulum tincidunt nisi eget turpis faucibus, sit amet ultrices tortor tempor.
                </p>
              </div>
              <div class="card-footer">
                <a href="#">Click here</a>
              </div>
            </div>
          </div>
        </div>
          
       
     
        </div>


      <div class="slider">
    <figure>
       <div class="slide1">
       <img src= "/images/slide-1.jpg" alt="">
       </div>
       <div class="slide2">
       <img src="/images/slide-2.jpg" alt="">
       </div>
       <div class="slide3">
       <img src="/images/slide-3.jpg" alt="">
       </div>
       <div class="slide4">
       <img src="/images/jds.jpg" alt="">
       </div>
       <div class="slide5">
       <img src="images/newjds.png" alt="">
       </div>
    </figure>
  </div>



    <div class="community-members">
      <h2 class="centerr why-head " >Community-Members</h2>
      <div class="slides-m">
        <div class="slide-1">
          <img src="/images/images__1_-removebg-preview.png" alt="" class="slide-img">
          <div class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo illum at ducimus tempore eius sapiente expedita, eum beatae incidunt in repudiandae ab officiis labore nemo rerum blanditiis enim voluptatum atque!</div>
        </div>

        

        <div class="slide-1">
          <img src="/images/images__1_-removebg-preview.png" alt="" class="slide-img">
          <div class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo illum at ducimus tempore eius sapiente expedita, eum beatae incidunt in repudiandae ab officiis labore nemo rerum blanditiis enim voluptatum atque!</div>
        </div>

        <div class="slide-1">
          <img src="/images/images__1_-removebg-preview.png" alt="" class="slide-img">
          <div class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo illum at ducimus tempore eius sapiente expedita, eum beatae incidunt in repudiandae ab officiis labore nemo rerum blanditiis enim voluptatum atque!</div>
        </div>

        <div class="slide-1">
          <img src="/images/images__1_-removebg-preview.png" alt="" class="slide-img">
          <div class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo illum at ducimus tempore eius sapiente expedita, eum beatae incidunt in repudiandae ab officiis labore nemo rerum blanditiis enim voluptatum atque!</div>
        </div>





      </div>
     </div>


     <section class="hero-section">
      <h2>Empowering Minds, Shaping Futures</h2>
      <p>At Your School Name, we are committed to providing a transformative learning experience that nurtures intellectual curiosity, creativity, and character development. Explore our diverse range of courses and join a community dedicated to academic excellence.</p>
      <a href="courses.html" class="btn">Discover Our Courses</a>
  </section>

  <section class="featured-highlights">
      <h2>Why Choose Your School Name?</h2>
      <div class="highlight">
          <img src="innovative.jpg" alt="Innovative Teaching Methods">
          <h3>Innovative Teaching Methods</h3>
          <p>Experience cutting-edge teaching techniques designed to inspire and engage students in the learning process.</p>
      </div>
      <div class="highlight">
          <img src="community.jpg" alt="Supportive Community">
          <h3>Supportive Community</h3>
          <p>Join a vibrant and inclusive community that fosters collaboration, respect, and a sense of belonging.</p>
      </div>
      <div class="highlight">
          <img src="global.jpg" alt="Global Perspective">
          <h3>Global Perspective</h3>
          <p>Prepare for the future with a curriculum that emphasizes a global perspective and intercultural understanding.</p>
      </div>
  </section>

  <section class="enrollment">
      <h2>Enroll Now and Embark on Your Educational Journey</h2>
      <p>Ready to take the first step towards a brighter future? Join Your School Name and embark on a rewarding educational journey. Explore our courses, meet our dedicated faculty, and discover the endless possibilities that await you.</p>
      <a href="/contact" class="btn">Enroll Today</a>
  </section>






   </div>

   





















    <footer class="container2">
        <div class="container-content">
            <div class="left-side">
                <a href="#" class="left-side-items">Home</a>
                <a href="#" class="left-side-items">Products</a>
                <a href="#" class="left-side-items">Marketplace</a>
                <a href="#" class="left-side-items">Blog</a>
                <a href="#" class="left-side-items">Community</a>
                <a href="#" class="left-side-items">Faculty</a>
                <a href="#" class="left-side-items">About us</a>
                
                <p class="left-side-items box">Toll free - 19121</p>
           
                <p class="left-side-items box-1">Email - jdsinternationalschool@gmail.com</p>
            </div>
           
            
        </div>
        <div class="footer-text">&copy; www.JDS.com - All Right Reserved</div>
        <div class="footer-add">
            At Baluchaha Road , Padrauna ( Kushinagar ) , 274304 Uttar Pradesh .  
        </div>
    </footer>

    <script>

document.addEventListener('DOMContentLoaded', function () {
            const sentences = [
                'Your Child Deserve The Best Education!',
                'A School Where The Day Starts With The ',
                'Meditation And Where Learning Comes Alive!',

            ];

            let currentIndex = 0;
            let offset = 0;
            const sentenceElement = document.querySelector('.sentence');
            let forwards = true;
            let skipCount = 0;
            const skipDelay = 15;
            const speed = 70;

            const updateSentence = () => {
                sentenceElement.textContent = sentences[currentIndex].substring(0, offset);
            };

            const handleAnimation = () => {
                if (forwards) {
                    if (offset >= sentences[currentIndex].length) {
                        if (++skipCount === skipDelay) {
                            forwards = false;
                            skipCount = 0;
                        }
                    }
                } else if (offset === 0) {
                    forwards = true;
                    currentIndex = (currentIndex + 1) % sentences.length;
                }

                if (skipCount === 0) {
                    forwards ? offset++ : offset--;
                }

                updateSentence();
            };

            setInterval(handleAnimation, speed);
        });
    
        
        const previous = document.querySelector('.previous');
        const next = document.querySelector('.next');
        const images = document.querySelector('.slider-carousel').children;
        const totalImages = images.length;
        let currentIndex = 0;
    
    
        // Event Listeners to previous and next buttons
        previous.addEventListener('click', () => {
          previousImage()
        })
    
        next.addEventListener('click', () => {
          nextImage();
        })
        
        setInterval(()=>{
            nextImage();
        },5000);
        
        // Function to go to next Image
        function nextImage(){
    
          images[currentIndex].classList.remove('main');
            if(currentIndex == totalImages-1){
                currentIndex = 0;
            }
            else{
                currentIndex++;
            }
    
          images[currentIndex].classList.add('main');
          
        }
        
        // Function to go to previous Image
        function previousImage(){
    
          images[currentIndex].classList.remove('main');
            if(currentIndex == 0){
                currentIndex = totalImages-1;
            }
            else{
                currentIndex--;
            }
        
          images[currentIndex].classList.add('main');
    
        }
        


      
      
    </script>
</body>

</html>